# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
.eggs/

# Virtualenv
.venv/
venv/
env/

# Lambda build
*.zip
build/

# Secrets locais
credentials.json
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
